Source: dsromsmanager
Section: games
Priority: extra
Maintainer: Fortunato Ventre <vorione@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.8.0
Homepage: https://github.com/voria/dsromsmanager

Package: dsromsmanager
Architecture: all
Depends: python-gtk2
Description: DSRomsManager
 DsRomsManager is an utility to manage Nintendo DS Roms.
 It's written in python and gtk and released under GPLv3.
 .
 This is a short summary of what it can do:
 * Handle all games informations like region, title, language, etc.
 * Search for duplicates.
 * Manager roms archives on hard disk (.nds, .nd5 and .dsi extensions).
 * Extract roms from archive.
 * Trim roms automatically while extracting.
 * Download games images automatically.
 * Update gameslist with just one click.
 * Search over the web for games reviews.
